# Feature engineering

## Data loading

In [44]:
import pandas as pd

path = './artifacts/saved_df.csv'
df = pd.read_csv(path, index_col=0)

In [45]:
df.head().T

,0,1,2,3,4
type,UberX,UberX,UberX,UberX,UberX
date,2023-11-11,2023-11-11,2023-11-11,2023-11-11,2023-11-11
time,17:28:00,17:20:00,16:37:00,16:19:00,15:57:00
duration,11 min 32 sec,0 sec,27 min 43 sec,16 min 18 sec,5 min 29 sec
distance,4.15 km,---,13.42 km,4.78 km,1.38 km
origin,"Rua Antônio das Chagas, Santo Amaro - São Paul...","Rua Luís Correia de Melo, Santo Amaro - São Pa...","Rua Helena, Itaim Bibi - São Paulo - SP, 04552...","Alameda Gabriel Monteiro da Silva, Jardim Amer...","R. Turiassu, Perdizes - São Paulo - SP, 05005-..."
destination,"R. Geórgia, Brooklin - São Paulo - SP, 04559-0...","Rua Luís Correia de Melo, Santo Amaro - São Pa...","Rua Quipa, Campo Limpo - São Paulo - SP, 05756...","Rua Helena, Itaim Bibi - São Paulo - SP, 04552...","Rua Ministro Godói, Perdizes - São Paulo - SP,..."
total_earning,15.01,4.22,27.09,13.78,6.69
base_fare,11.01,4.22,27.09,13.78,6.69
customer_fare,19.97,5.25,34.95,22.96,10.96
paid_to_driver,-15.01,-4.22,-27.09,-13.78,-6.69
paid_to_uber,4.96,1.03,7.86,9.18,4.27
datetime,2023-11-11 17:28:00,2023-11-11 17:20:00,2023-11-11 16:37:00,2023-11-11 16:19:00,2023-11-11 15:57:00
duration_dt,0 days 00:11:32,0 days 00:00:00,0 days 00:27:43,0 days 00:16:18,0 days 00:05:29
distance_km,4.15,0.0,13.42,4.78,1.38
origin_lat_lng,"[-23.6310457, -46.7009751]","[-23.6333821, -46.7150474]","[-23.5930876, -46.685821]","[-23.5670517, -46.6779432]","[-23.532765, -46.6705077]"
destination_lat_lng,"[-23.6108945, -46.6774821]","[-23.6333821, -46.7150474]","[-23.6232428, -46.757671]","[-23.5930876, -46.685821]","[-23.5411086, -46.6745064]"

In [46]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['duration_dt'] = pd.to_timedelta(df['duration_dt'])

## Data exploration

In [50]:
df.head().T

,0,1,2,3,4
type,UberX,UberX,UberX,UberX,UberX
date,2023-11-11,2023-11-11,2023-11-11,2023-11-11,2023-11-11
time,17:28:00,17:20:00,16:37:00,16:19:00,15:57:00
duration,11 min 32 sec,0 sec,27 min 43 sec,16 min 18 sec,5 min 29 sec
distance,4.15 km,---,13.42 km,4.78 km,1.38 km
origin,"Rua Antônio das Chagas, Santo Amaro - São Paul...","Rua Luís Correia de Melo, Santo Amaro - São Pa...","Rua Helena, Itaim Bibi - São Paulo - SP, 04552...","Alameda Gabriel Monteiro da Silva, Jardim Amer...","R. Turiassu, Perdizes - São Paulo - SP, 05005-..."
destination,"R. Geórgia, Brooklin - São Paulo - SP, 04559-0...","Rua Luís Correia de Melo, Santo Amaro - São Pa...","Rua Quipa, Campo Limpo - São Paulo - SP, 05756...","Rua Helena, Itaim Bibi - São Paulo - SP, 04552...","Rua Ministro Godói, Perdizes - São Paulo - SP,..."
total_earning,15.01,4.22,27.09,13.78,6.69
base_fare,11.01,4.22,27.09,13.78,6.69
customer_fare,19.97,5.25,34.95,22.96,10.96
paid_to_driver,-15.01,-4.22,-27.09,-13.78,-6.69
paid_to_uber,4.96,1.03,7.86,9.18,4.27
datetime,2023-11-11 17:28:00,2023-11-11 17:20:00,2023-11-11 16:37:00,2023-11-11 16:19:00,2023-11-11 15:57:00
duration_dt,0 days 00:11:32,0 days 00:00:00,0 days 00:27:43,0 days 00:16:18,0 days 00:05:29
distance_km,4.15,0.0,13.42,4.78,1.38
origin_lat_lng,"[-23.6310457, -46.7009751]","[-23.6333821, -46.7150474]","[-23.5930876, -46.685821]","[-23.5670517, -46.6779432]","[-23.532765, -46.6705077]"
destination_lat_lng,"[-23.6108945, -46.6774821]","[-23.6333821, -46.7150474]","[-23.6232428, -46.757671]","[-23.5930876, -46.685821]","[-23.5411086, -46.6745064]"

In [51]:
df['paid_to_driver'] = -1 * df['paid_to_driver']

In [52]:
df.describe()

,total_earning,base_fare,customer_fare,paid_to_driver,paid_to_uber,datetime,duration_dt,distance_km
count,3167.000000,3167.000000,3167.000000,3167.000000,3167.000000,3167,3167,3167.000000
mean,23.649678,22.317540,34.445595,24.281964,9.433423,2024-04-29 13:43:56.703505152,0 days 00:18:37.175244711,6.400751
min,-10.820000,1.890000,-5.070000,1.890000,-42.080000,2023-11-06 20:41:00,0 days 00:00:00,0.000000
25%,12.450000,11.625000,19.340000,12.945000,4.880000,2024-01-13 19:31:30,0 days 00:08:25.500000,2.270000
50%,18.920000,17.580000,28.270000,19.760000,7.980000,2024-04-16 15:31:00,0 days 00:14:25,4.140000
75%,29.410000,27.575000,43.140000,30.335000,12.640000,2024-08-13 19:12:00,0 days 00:24:09,7.955000
max,203.470000,203.470000,374.870000,209.470000,123.400000,2024-11-30 19:16:00,0 days 02:11:00,110.550000
std,16.639526,16.265912,23.131384,16.913488,8.456055,NaN,0 days 00:14:58.348358803,7.117789

In [53]:
df[df['total_earning'] < 0]

,type,date,time,duration,distance,origin,destination,total_earning,base_fare,customer_fare,paid_to_driver,paid_to_uber,datetime,duration_dt,distance_km,origin_lat_lng,destination_lat_lng
83,Comfort,2023-11-18,20:26:00,3 min 41 sec,0.74 km,"Avenida Paulista, São Paulo - São Paulo - SP, ...","Rua Haddock Lobo, Cerqueira César - São Paulo ...",-10.82,7.87,-5.07,9.18,5.75,2023-11-18 20:26:00,0 days 00:03:41,0.74,"[-23.5573402, -46.6612825]","[-23.5579545, -46.6617369]"

In [54]:
df[df['paid_to_uber'] < 0]

,type,date,time,duration,distance,origin,destination,total_earning,base_fare,customer_fare,paid_to_driver,paid_to_uber,datetime,duration_dt,distance_km,origin_lat_lng,destination_lat_lng
7,UberX,2023-11-11,12:32:00,21 min 33 sec,5.28 km,"Rua Capital Federal, Perdizes - São Paulo - SP...","Av. Rebouças, Bairro Pinheiros - São Paulo - S...",20.00,20.00,24.88,20.00,-1.34,2023-11-11 12:32:00,0 days 00:21:33,5.28,"[-23.5407904, -46.6851003]","[-23.5645767, -46.678679]"
32,UberX,2023-11-09,19:33:00,9 min 51 sec,2.42 km,"Rua Roma, Lapa - São Paulo - SP, 05050-090, BR","Rua Bica de Pedra, Perdizes - São Paulo - SP, ...",12.02,11.02,13.37,12.02,-1.07,2023-11-09 19:33:00,0 days 00:09:51,2.42,"[-23.5227259, -46.7017216]","[-23.5398646, -46.6965347]"
51,UberX,2023-11-08,07:29:00,1 hr 5 min,15.86 km,"Avenida Doutor Salomão Vasconcelos, Cangaiba -...","Rua Florêncio de Abreu, Sé - São Paulo - SP, 0...",40.06,38.81,42.88,40.06,-5.13,2023-11-08 07:29:00,0 days 01:05:00,15.86,"[-23.504126, -46.524001]","[-23.539276, -46.6329022]"
74,UberX,2023-11-19,01:36:00,8 min 11 sec,4.22 km,"Rua Maria Amália Lopes Azevedo, Tremembé - São...","Rua Albertina V da Silva Gordo, Mandaqui - São...",16.00,13.50,17.59,16.00,-1.10,2023-11-19 01:36:00,0 days 00:08:11,4.22,"[-23.4564712, -46.5939624]","[-23.475604, -46.6236056]"
117,UberX,2023-11-15,21:19:00,21 min 31 sec,13.88 km,"Rua Calciolândia, Vila Medeiros - São Paulo - ...","R. Pedro de Castillo, Furnas - São Paulo - SP,...",30.01,30.01,32.21,30.01,-5.11,2023-11-15 21:19:00,0 days 00:21:31,13.88,"[-23.4935981, -46.5817175]","[-23.4198084, -46.5814597]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,Black,2024-11-21,09:38:00,24 min 12 sec,8.58 km,"Rua Califórnia, Itaim Bibi - São Paulo - SP, 0...","Avenida Brigadeiro Faria Lima, Pinheiros - São...",33.99,33.99,38.05,33.99,-1.88,2024-11-21 09:38:00,0 days 00:24:12,8.58,"[-23.6143072, -46.6866123]","[-23.5687776, -46.6920303]"
3096,Comfort,2024-11-18,19:25:00,55 min 39 sec,23.04 km,"Rua Pedroso Alvarenga, Itaim Bibi - São Paulo ...","Rua Domiciano Rossi, Centro - São Bernardo do ...",63.54,60.54,70.35,63.54,-0.21,2024-11-18 19:25:00,0 days 00:55:39,23.04,"[-23.5823143, -46.6803114]","[-23.6933196, -46.5624535]"
3108,VIP,2024-11-30,18:32:00,18 min 4 sec,6.41 km,"Avenida Doutor Altino Arantes, Saúde - Sao Pau...","Rua Xavier Curado, Ipiranga - Sao Paulo - SP, ...",23.53,20.53,27.53,23.53,-0.13,2024-11-30 18:32:00,0 days 00:18:04,6.41,"[-23.6026846, -46.6469652]","[-23.5844639, -46.604917]"
3116,Black,2024-11-29,18:57:00,13 min 25 sec,2.81 km,"Alameda Tietê, Jardim Paulista - Sao Paulo - S...","Rua Fradique Coutinho, Pinheiros - Sao Paulo -...",22.10,17.21,25.86,22.10,-1.41,2024-11-29 18:57:00,0 days 00:13:25,2.81,"[-23.5611184, -46.6667842]","[-23.5645961, -46.6854736]"
3165,Black,2024-11-25,07:48:00,7 min 42 sec,1.35 km,"Rua Lisboa, Jardim Paulista - São Paulo - SP, ...","Av. Brasil, Jardins - São Paulo - SP, 01431-01...",16.82,10.32,22.13,19.70,-2.94,2024-11-25 07:48:00,0 days 00:07:42,1.35,"[-23.5588991, -46.6801409]","[-23.5654723, -46.676687]"

It seems that total_earning does not correspond to how much the driver earned. It's better to use paid_to_driver plus paid_to_uber

## Feature engineering

### Formation of base benchmarks:
- fee = paid_to_uber / customer_fare
- earning_pct = total_earning / customer_fare
- earning_base_fare_pct = base_fare / customer_fare
- traffic_benchmark = duration / distance
- ted = total_earning / duration
- bfd = base_fare / duration
- cfd = customer_fare / duration 
- pud = paid_to_uber / duration 
- tei = total_earning / distance
- bfi = base_fare / distance
- cfi = customer_fare / distance 
- pui = paid_to_uber / distance
- tedi = total_earning / (duration * distance)
- bfdi = base_fare / (duration * distance)
- cfdi = customer_fare / (duration * distance) 
- pudi = paid_to_uber / (duration * distance)

In [39]:
df['fee'] = df['paid_to_uber'] / df['customer_fare'] * 100
df['earning_pct'] = df['total_earning'] / df['customer_fare'] * 100
df['earning_base_fare_pct'] = df['base_fare'] / df['customer_fare'] * 100

In [40]:
df.describe()

,total_earning,base_fare,customer_fare,paid_to_driver,paid_to_uber,datetime,duration_dt,distance_km,fee,earning_pct,earning_base_fare_pct
count,3167.000000,3167.000000,3167.000000,3167.000000,3167.000000,3167,3167,3167.000000,3167.000000,3167.000000,3167.000000
mean,23.649678,22.317540,34.445595,24.281964,9.433423,2024-04-29 13:43:56.703505152,0 days 00:18:37.175244711,6.400751,27.742469,68.192511,63.838562
min,-10.820000,1.890000,-5.070000,1.890000,-42.080000,2023-11-06 20:41:00,0 days 00:00:00,0.000000,-113.412229,25.726195,-155.226824
25%,12.450000,11.625000,19.340000,12.945000,4.880000,2024-01-13 19:31:30,0 days 00:08:25.500000,2.270000,21.169921,60.548826,59.979761
50%,18.920000,17.580000,28.270000,19.760000,7.980000,2024-04-16 15:31:00,0 days 00:14:25,4.140000,34.027976,63.809524,61.980831
75%,29.410000,27.575000,43.140000,30.335000,12.640000,2024-08-13 19:12:00,0 days 00:24:09,7.955000,38.736579,73.609041,67.460070
max,203.470000,203.470000,374.870000,209.470000,123.400000,2024-11-30 19:16:00,0 days 02:11:00,110.550000,41.131956,213.412229,133.773165
std,16.639526,16.265912,23.131384,16.913488,8.456055,NaN,0 days 00:14:58.348358803,7.117789,14.921243,9.949810,10.332783

In [34]:
df1 = df[df['earning_pct'] < 30]

In [41]:
df1 = df[df['paid_to_driver'] < 2]

In [42]:
df1

,type,date,time,duration,distance,origin,destination,total_earning,base_fare,customer_fare,paid_to_driver,paid_to_uber,datetime,duration_dt,distance_km,origin_lat_lng,destination_lat_lng,fee,earning_pct,earning_base_fare_pct
2613,UberX,2024-09-22,20:04:00,0 sec,---,"Avenida Brigadeiro Luís Antônio, Sao Paulo - S...","Avenida Brigadeiro Luís Antônio, Sao Paulo - S...",1.89,1.89,2.42,1.89,0.53,2024-09-22 20:04:00,0 days,0.0,"[-23.5709555, -46.6523499]","[-23.5709555, -46.6523499]",21.900826,78.099174,78.099174

In [ ]:
df['customer_fare'] = df['total_earning'] + df['paid_to_uber']